        /* Basic styles for the webpage */
        body {
            font-family:Arial, Helvetica, monospace;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center; /* Center content horizontally */
        }

        .container {
            max-width: 100vw;
            width: 70vw;
        }


        header {
            background-color: #333;
            color: #ffffff;            
            text-align: left;
            padding-left: 1vw;
            padding-right: 1vw;
            padding-top: 0vw; /* Decrease the top padding */
            padding-bottom: 0vw; /* Decrease the bottom padding */
            display: flex; /* Use flexbox to align image and title */
            align-items: center; /* Vertically align items */
            line-height: 2.4vw;
        }

        header img {
            width: 4vw; /* Adjust the width as needed */
            height: auto;
            margin-right: 1vw; /* Add spacing between image and title */
        }

        .header-title {
            flex: 1; /* Allow the title to grow and take remaining space */
        }

        header h1 {
            font-size: 1.8vw ; /* Adjust the font size as needed */
            margin: 0; /* Reset margin to remove extra spacing */
            vertical-align: bottom; /* Center-align the links horizontally */
            margin-bottom: -1vw; 
            margin-top: 1vw; 
        }


        .header-link {
            color: #ffffff;
            text-decoration: none; /* Remove underlines from links */
            
            margin-top: 1vw;
            margin-right: 1vw; 
            margin-left: 0.2vw; /* Add spacing between links */
            display: inline-block; /* Display links inline */
            transition: transform 0.2s; /* Apply hover effect */
            font-size: 1.4vw;
            text-align: bottom; /* Center-align the links horizontally */
        }

        .header-link:hover {
          transform: scale(1.05);
        }

        /* Style for the sections */
        .section {
            margin-top: 1vw; /* Reduce top margin for sections */
            padding-left: 0; /* Add left padding for titles */
        }

        .section h2 {
            color:  #1b256b;
            font-size: 1.66vw;
            margin-bottom: 1vw;
        }

        /* Style for the publications list */
        .publications-under-review {
            list-style-type: none;
            padding: 0;
            margin: 1vw; /* Adjust margin to align the list to the left */
            counter-reset: under-review-counter; /* Increment the counter for published items */
        }

        .publications-published {
            list-style-type: none;
            padding: 0;
            margin: 1vw; /* Adjust margin to align the list to the left */
            counter-reset: published-counter; /* Increment the counter for published items */
        }

        .publication {
            display: flex;
            align-items: top;
            margin-left: 1vw;
            margin-bottom: 1vw;
            cursor: pointer;
            transition: transform 0.2s;
            font-size: 1.2vw;
        }

        /* Style for publication items without hover (under-review or submitted) */
        .publication.under-review {
            cursor: default; /* Remove hover cursor */
            transition: none; /* Remove hover effect */
        }

        /* Style for publication items with hover (published or accepted) */
        .publication.published {
            cursor:grab;
            transition: transform 0.2s;
        }

        .publication.published:hover {
            transform: scale(1.005);
            color: #0084ff;
        }

        .publication .publication-sep {
            margin-right: 0.1vw;
        }
        .publication .publication-title {
            margin-right: 0.1vw;
        }

        /* Style for section separators */
        .section:not(:first-child) {
            border-top: solid #5a5a5a3e;
            padding-top: 0; /* Add space above the line */
        }

        /* Automatic numbering for publication items */
        .publication[data-status="published"] .publication-sep::before {
            content: "[" counter(published-counter) "] "; /* Use counter for published items */
            font-weight: bold;
            counter-increment: published-counter; /* Increment the counter for published items */
            margin-right: 1vw; /* Add spacing between the counter and title */
        }

        .publication[data-status="under-review"] .publication-sep::before {
            content: "[" counter(under-review-counter) "] "; /* Use counter for under-review items */
            font-weight: bold;
            counter-increment: under-review-counter; /* Increment the counter for under-review items */
            margin-right: 1vw; /* Add spacing between the counter and title */
        }

        .publication-link {
            color: inherit; /* Inherit text color from parent element */
            text-decoration: none; /* Remove underline */   
        }


                /* Style for the navigation bar */
        .navbar {
            display: flex; /* Display navbar items horizontally */
            align-items: center;
            margin-right: 1vw;
            justify-content: flex-end; /* Push the navbar to the right */
        }

        .navbar-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex; /* Display navbar items horizontally */
        }

        .navbar-item {
            margin-right: 1.5vw; /* Adjust the margin between navbar items */
        }

        .navbar-item:last-child {
            margin-right: 0; /* Remove right margin from the last navbar item */
        }

        .navbar-item a {
            color: #d3dae2ad;
            text-decoration: none;
            font-size: 1.4vw;
        }

        /* Style the navbar links on hover */
        .navbar-item a:hover {
            color: #ffffff;
            transition: color 0.2s; /* Add a smooth transition effect */

        }

        .navbar-current {
            margin-right: 1.5vw; /* Adjust the margin between navbar items */
        }

        .navbar-current:last-child {
            margin-right: 0; /* Remove right margin from the last navbar item */
        }

        .navbar-current a {
            color: #d3dae2;
            text-decoration: none;
            font-size: 1.4vw;
        }

        /* Style the navbar links on hover */
        .navbar-current a:hover {
            color: #ffffff;
            transition: color 0.2s; /* Add a smooth transition effect */
        }
        

